---
export interface Props {
    dark?: boolean;
}

const { dark = false } = Astro.props as Props;
---

<div class={`card ${dark && 'dark'}`}>
    <slot />
</div>

<style>
.card {
  position:relative;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 60px;
  max-width:480px;
}

.card:hover {
  background: rgba(226, 226, 226, 0.267);
 border: 1px solid rgb(173, 173, 173);
}

.dark {
  background: var(--color-primary);
  color: #fff;
}
</style>